@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/img/bg.jpg);
    background-position: center;
    background-size: cover;

    background-size: max(200px 1000vw);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.box {
    height: 100vh;
    width: 100%;
    opacity: 0.77;
    background-color: black;
    position: absolute;
    top: 0;
    /* z-index: 111; */

}

nav {
    max-width: 75vw;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    height: 63px;
}

nav img {
    color: red;
    position: relative;
    z-index: 1;
}

nav #ln,
#in,
#op {
    width: 123px;
    height: 32px;
    background: inherit;
    color: white;
    text-align: center;
    /* font-weight: bold; */

    /* border-radius: 5px; */
    position: relative;
    z-index: 1;

}

#ln {
    /* border-radius: 50%; */
    border: none;


}

#op {
    font-size: 1rem;
    border-radius: 5px;
    border: 0.1rem solid white;
    font-weight: 500;


}



#opt {
    color: black;

}

nav #in {
    width: 75.59px;
    height: 32px;
    margin: 1vw 0 0 0.5vw;
    font-size: 1rem;
    font-weight: 540;
    /* display: inline-block; */
    /* align-items: center; */
    color: white;
    background-color: red;
    position: relative;
    border-radius: 5px;
    z-index: 1;
    border: none;
    cursor: pointer;
}

#in:hover {
    background-color: rgb(168, 6, 6);
}

.hero {
    /* color: white; */
    /* color: white; */
    /* background: red; */
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 63px - 20px);
    /* height: 87%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    gap: 20px;
    padding: 0 30px;



}

.hero> :nth-child(1) {
    text-align: center;
    font-weight: 900;
    font-size: 52px;
    line-height: 53px;
}

.hero> :nth-child(2) {
    text-align: center;
    font-weight: 900;
    font-size: 52px;
    line-height: 53px;
}

.hero> :nth-child(3) {
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
}

.hero> :nth-child(4) {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    text-align: center;
}
    
.separtion {        
    height: 5px; 
    background-color: rgb(99, 97, 97);
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* opacity: 0.7; */
    background-color: rgba(20, 20, 20, 0.5);
}

#emailbtn {
    width: 350px;
    height: 56px;
    font-size: 16px;
    color: white;
    background: inherit;
    border: 1px solid white;

    border-radius: 4px;
    /* z-index: 100px; */
    padding-left: 16px;
    /* padding: 24px 16px 8px; */
    position: relative;
    z-index: 1;

    color: inherit;
    /* filter: opacity(0%); */

}

#insidehero {
    width: 220px;
    height: 56px;
    font-size: 1.525rem;
    border-radius: 4px;
    background-color: red;
    color: white;
    font-weight: 200;
    border: none;
    position: relative;
    z-index: 10;
}

#insidehero:hover {
    background-color: rgb(168, 6, 6);

}



#section1 {
    margin-top: 7vh;
    margin-left: 3vw;
}

#trend {
    font-size: 1.5rem;
    padding: 0 0 0 100px;
    font-weight: 450;
    color: white;
    font-family: "Martel Sans", sans-serif;


}

#slidewrap {
    position: relative;

    /* border: 2px solid yellow; */
}

#cardsection {
    /* width: 100%; */
    /* border: 2px solid red; */
    gap: 60px;
    display: flex;
    /* flex-wrap: wrap; */
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* -ms-overflow-style: none; */
    /* #cardsection::-webkit-scrollbar{display: none;} */
    /* overflow: hidden; */
    /* padding: 0 80px ; */
    padding: 30px;
    margin-left: 50px;
    margin-right: 100px;
}


.card {
    /* border: 1px solid red; */
    /* overflow: hidden; */
    width: 14vw;
    position: relative;
    border-radius: 0.5rem;
    flex-shrink: 0;
    /*height: 196px; */
}

.card:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    /* transition-delay: 0.3?s; */
    opacity: 10;
    z-index: 10;
}

.card span {
    position: absolute;
    font-size: 8rem;
    left: -30px;
    top: 35%;
    color: black;
    font-family: "Martel Sans", sans-serif;
    -webkit-text-stroke: 1px white;
    font-weight: 800;
    z-index: 5;
    opacity: 0.78;
    padding: 0;
}

.card img {
    /* border: 1px solid red; */
    border-radius: 0.5rem;
    position: relative;
    width: 14vw;
    z-index: 2;

}

.swapbtnLeft{
    font-family: "Martel Sans", sans-serif;
    position: absolute;
    height: 18vh;
    width: 1.7vw;
    font-size: 1.5rem;
    border: none;
    border-radius: 12px;
    color: white;
    background: rgba(46, 46, 46, 0.5);
    top: 30%;
    left: 1.5%;
    z-index: 3;

}

.swapbtnLeft:hover{
    background: rgba(27, 27, 27, 0.5);
}

.swapbtnRight{
    font-family: "Martel Sans", sans-serif;
    height: 10vh;
    position: absolute;
    height: 18vh;
    width: 1.7vw;
    font-size: 1.5rem;
    border: none;
    border-radius: 12px;
    color: white;
    background: rgba(46, 46, 46, 0.5);
    z-index: 3;
    right: 5%;
    bottom: 33%;
}

.swapbtnRight:hover{
    background: rgba(27, 27, 27, 0.5);
}

.section2{
    color: white;
    font-family: "Martel Sans", sans-serif;
    margin-top: 50px;
    
    
    /* font-size: 1.5rem; */
    
}

.section2 #join{
    padding-left: 10.7vw;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 450;
}

.cardsection2 h1{
    margin: 20px 0 20px 10px;
    font-size: 1.5rem;
    font-weight: 450;
    line-height: 1.3;
}

.section2 p{
    font-weight: 100;
    font-size: 0.99rem;
    margin-left: 10px;
    line-height: 1.3;
}


.cardsection2{
    margin: 0 100px 0 100px;

    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 20px;

}


.cardsec2{
    /* border: 2px solid white; */
    width: 20vw;
    height: 50vh;
  background: linear-gradient(
  120deg,
  #0f0f0f 0%,  
  #14141f 25%,  
  #1a1a2e 45%,  
  #1a1a1a 60%,  
  #2b1a1a 75%,  
  #240123 90%,  
  #180101 100%  
);
    /* background: #461c53; */
    border-radius: 6%;
    position: relative;
    /* background-color: #A46DFF; */
}

.cardsec2 img{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 230px;
    left: 180px;
    box-shadow: black;
}

.faqs h1{
    margin-top: 80px;
    padding-left: 10.7vw;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 450;
    color: white;
}


.box2{
    display: flex;
    flex-direction: column;
    margin: 0 150px 0 150px;
    gap: 11px;
    /* align-items: center; */
    /* justify-content: center; */
    /* background-color: #222; */
    /* padding: 34px; */
}

.faq{
    display: flex;
    height: 13vh;
    /* width: 100vw; */
    align-items: center;
    /* border: 2px solid wheat; */
    background-color: #222;
    position: relative;
}

.faq:hover{
    background-color: #333;
}

.inner{
    /* border: 2px solid white; */
    margin-top: 4px;
    background-color: #222;
    color: white;
    font-size: 1.5rem;
    font-weight: 450;
    padding: 5vh;
    opacity: 30;
    display: none;
}

.faq span{
    padding: 5vh;
    color: white;
    font-size: 1.5rem;
    font-weight: 450;
}

.faq img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 94%;
    width: 4vw;
}

#section3{
    margin-top: 11vh;

}

.ready{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: 100;
}

.inner3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.sec3Email{
    background: inherit;
    width: 32vw;
    height: 9vh;
    background: rgba(46, 46, 46, 0.2);
    border: none;
    padding-left: 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    border: 0.1px solid white;
}
#get{
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    border: none;
    width: 15vw;
    height: 9vh;
    cursor: pointer;
}
#get:hover {
    background-color: rgb(168, 6, 6);

}


#last{
    margin-top: 10vh;
    color: white;
    padding-left: 13.5vw;
    font-family: "Martel Sans", sans-serif;
    font-weight: 100;
    font-size: 1rem;
}
footer p a{
    color: white;
}

.links{
    margin-top: 50px;
    margin-left: 180px;
    margin-right: 120px;
}
.links ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    color: white;
    list-style: none;
}

.links a{
    color: white;
    font-family: "Martel Sans", sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
}
.lastbtn{
    margin-top: 3vw;
    padding-left: 13.5vw;
    margin-bottom: 2vw;
}
.lastbtn #footerOp{
    width: 10vw;
    height: 5vh;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
}



#close p{
    margin-bottom: 2vw;
    color: white;
    padding-left: 13.5vw;
    font-family: "Martel Sans", sans-serif;
    font-weight: 100;
    font-size: 0.8rem;
}

.copy{
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 100;
    font-size: 1.5rem;
}